.boxContainer{
    margin:auto;
    margin-top: 8%;
    position:relative;
    width:1500px;
    border: 4px solid #B7E2DD;
    padding:0px 10px;
    border-radius:100px;
}
.elementContainer{
    width:100%;
    height:100%;
    vertical-align:middle;
}

.search{
    border:none;
    height:100%;
    width:100%;
    padding:0px 5px;
    border-radius:50px;

}
input:focus {outline: none;}


.Contacts{
    position:absolute;
    top: 70%;
    left:25%;
    transform: translate(-50%,-55%);

    border:0; 
    display:block;
    margin: auto;
    text-align:center;
    font-weight: bold;
    padding:16px 80px;
    width:45%;
    outline:none;
    color: white;
    border-radius:24px;
    transition:0.25s


}

.Text{
    position:absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%,-55%);

   
}
