body{
    background-color: #B7E2DD;
    background-image: url("images/Landingpageimage.jpg");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        max-width: 100%;
}
#container{
    border-radius:24px;
    position:absolute;
    top: 46%;
    left:50%;
    transform: translate(-50%,-55%);
   text-align:center;
    
}
#connect{
    position:absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-70%);
   text-align:center;
   background: #4fb8ab;
}
#connect{
    position:absolute;
    border:0;
    background: #4fb8ab;
    display:block;
    margin: 35px auto;
    text-align:center;
    font-weight: bold;
    padding:0px 70px;
    width:300px;
    outline:none;
    border-radius:100px;
}

#connect:hover{
    background: #5dcabe;
}