body{
    background-color:white;
}
.box{
    width:500px;
    padding: 50px;
    position:absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
   text-align:center;
}


.box input[ type = "text"],.box input[type = "password"]{
    background: none;
    margin:20px auto;
    display: inline-block;
    font-weight: bold;
    border: 4px solid #B7E2DD;
    padding:14px 70px;
    width:300px;
    border-radius:80px;
    text-align: center;
    outline:none

    
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    border-color: #B7E2DD;
    border-width: thick;
}
.box input[type = "submit"]{
    border:0;
    background:black;
    display:block;
    margin: 20px auto;
    text-align:center;
    font-weight: bold;
    padding:16px 70px;
    width:440px;
    outline:none;
    color: white;
    border-radius:24px;
    transition:0.25s;
    
 
}
.box input[type = "submit"]:hover{
    background: #474655;
}
#signup{
    border:0;
    position:absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-70%);
   text-align:center;
   background: #4fb8ab;
   border-radius:24px;
   width:440px;
   color: white;
   display:block;
   padding:16px 70px;
   font-weight: bold;
}

#signup:hover{
    background: #5dcabe;
}

    