.box{
    width:1000px;
    padding: 100px;
    position:absolute;
    top: 0%;
    left:50%;
    transform: translate(-50%,-22%);
   text-align:center;
   border-width:  thin;
}
.box input[ type = "text"],.box input[type = "password"]{
    background: none;
    display:block;
    margin:35px auto;
    text-align: center;
    font-weight: bold;
    border: 2px solid #B7E2DD;
    padding:13px 300px;
    width:180px;
    outline:none;
    color:black;
    border-radius:24px;
    transition:0.25s;
    border-width: thick;
    font-weight: bold;
}

h3{
    position:absolute;
    top: 0%;
    left:50%;
    transform: translate(-50%,350%);
   text-align:center;

}

#custom-button{
    position:absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,30%);
   text-align:center;
    background-color:#4fb8ab;
    border-radius: 124px;
    cursor: pointer;
    padding:13px 350px;
    font-weight: bold;
    color:white;
    font-size: 1em;
    border:0;
    
}
#custom-button:hover{
    background-color: #60dacb ;
}
#custom-text{
    position:absolute;
    top: 46%;
    left:50%;
    transform: translate(-50%,80%);
    color: darkgrey;
}

h5{
    font-size:larger;
    position:absolute;
    top: 46%;
    left:50%;
    transform: translate(-50%,80%);
    font-weight: bold;
    color: rgb(109, 108, 108);
    

}
h1{
    font-size: 2.5em;
    position:absolute;
    top: 46%;
    left:50%;
    transform: translate(-50%,90%);
}
#confirm{
    border-radius:100px;
    position:absolute;
    top: 73%;
    left:50%;
    transform: translate(-50%,100%);
    text-align: center;
    border:0;
    background:black;
    display:block;
    text-align:center;
    padding:0px 380px;
    outline:none;
    color: white;
}
#confirm:hover{
    background-color: #3d3c41 ;
}


.professional{
    border-radius:100px;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%,100%);
    text-align: center;
    margin: auto;
        border:0;
        background:#4fb8ab;
        display:block;
        margin: 20px auto;
        text-align:center;
        font-weight: bold;
        padding:10px 360px;
        outline:none;
        color: white;
}
.mentee{
    border-radius:100px;
    position:absolute;
    top:67%;
    left:50%;
    transform: translate(-50%,100%);
    text-align: center;
    margin: auto;
        border:0;
        background:#4fb8ab;
        display:block;
        margin: 20px auto;
        text-align:center;
        font-weight: bold;
        padding:10px 380px;
        outline:none;
        color: white;
}
.mentee:visited {
    background-color: #3d3c41;
  }

.mentee:hover{
    background-color: #60dacb  ;
}
.professional:hover{
    background-color: #60dacb  ;
}