.box{
    width:1000px;
    padding: 100px;
    position:absolute;
    top: 0%;
    left:50%;
    transform: translate(-50%,-22%);
   text-align:center;
   border-width:  thin;
}
.box input[ type = "text"],.box input[type = "password"]{
    background: none;
    display:block;
    margin:35px auto;
    text-align: center;
    font-weight: bold;
    border: 2px solid #B7E2DD;
    padding:13px 300px;
    width:180px;
    outline:none;
    color:black;
    border-radius:24px;
    transition:0.25s;
    border-width: thick;
    font-weight: bold;
}

h3{
    position:absolute;
    top: 0%;
    left:50%;
    transform: translate(-50%,350%);
   text-align:center;

}

#custom-button{
    position:absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,30%);
   text-align:center;
    background-color:#B7E2DD;
    border-radius: 24px;
    cursor: pointer;
    padding:13px 350px;
}
#custom-button:hover{
    background-color: #60dacb ;
}
#custom-text{
    position:absolute;
    top: 46%;
    left:50%;
    transform: translate(-50%,80%);
    color: darkgrey;
}
