@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;500;600;700&display=swap');
/*Page header*/
h1 {
    font-family: Poppins;
    font-size: 4em;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: #363543;
    position:absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-30%);
}

/*body text under header*/
h2 {
    font-family: Poppins;
    font-size: 3em;
    font-style: normal;
    font-weight: 600;
    color: #363543;
    text-align:center;
}

/*Sub header*/
h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    color: #363543;
    text-align: center;
}

/*body text under sub header*/
h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
}